# Kopiere zu ".env" im selben Ordner. Nur noetig, wenn du den WoL-Relay
# (Option 2 im README) benutzt.
BACKEND_URL=https://dein-backend-url.example.com
DEVICE_TOKEN=der_gleiche_DEVICE_TOKEN_wie_im_backend/.env
PC_MAC_ADDRESS=2C-F0-5D-5D-37-AA
LAN_BROADCAST_IP=255.255.255.255
